.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .projectGrid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 1rem 0;

    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
