.navbarContainer {
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 400px) {
    .navbarContainer {
      padding: 1rem;
    }
  }
}

.logo {
  font-size: 2rem;
  color: white;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}
