.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 1rem;

  .info h2 {
    padding: 0.5rem 0;
  }

  .hero {
    width: 180px;
    height: 180px;
    object-fit: cover;
    @media (max-width: 500px) {
      .hero {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 0;
  }

  .description {
    padding: 0.5rem 0 2rem;
  }

  .cta {
    font-family: inherit;
    padding: 0.5rem 2rem;
    background: white;
    color: #333;
    border-radius: 0.3rem;
  }
}
